#REQUIRED ENVIRONMENT VARIABLES
CLIENT_ID='xxxxxxxx-xxxxx-xxxx-xxxxx-xxxxxxx'
CLIENT_SECRET='xxxxxxxx-xxxxx-xxxx-xxxxx-xxxxxxx'
TENANT_ID='xxxxxxxx-xxxxx-xxxx-xxxxx-xxxxxxx'
SUBSCRIPTION_ID='xxxxxxxx-xxxxx-xxxx-xxxxx-xxxxxxx'

#RECOMMENDED ENVIRONMENT VARIABLES
WORKSPACE_NAME='myworkspace'

#OPTIONAL ENVIRONMENT VARIABLES
RESOURCE_GROUP_NAME='my-rg'
EASM_REGION='eastus'
